


:root { 
--action-primary-colour: #2196F3;

--primary-dark-text-color: #757575;
--secondery-dark-text-color: #212121;
--primary-white-color: #FFFFFF;
--secondery-color: rgba(255, 255, 255, 0.6);
--background-color: #2F303A;
--button-background-color: #F5F4FA;
}



.page {
    background-color: var(--primary-white-color);
    color: var(--primary-dark-text-color);
}

.logo {
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: var(--action-primary-colour);
}


.logo-style {
    color: var(--action-primary-colour);
}

.style-reset {
    list-style: none;
}

/* section "Hero"  */
.hero {
    background-color: var(--background-color);
}

.hero-title {
    color: var(--primary-white-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--action-primary-colour);
    border: none;
}

/* Site nav*/

.site-nav .nav-link {
    color: var(--secondery-dark-text-color);
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
    color: var(--action-primary-colour);
}

.site-nav .nav-link.current {
    color: var(--action-primary-colour);
}


.get-in-touch.primary {
    color: var(--primary-dark-text-color);
}

.get-in-touch.primary:hover,
.get-in-touch.primary:focus {
    color: var(--action-primary-colour);
}
/* Site sections */

.visually-hidden {
    visibility: hidden;
}



/*
1)  h2, h3 {
    color: var(--secondery-dark-text-color);
}
 2)

.sections h2 {
    color: var(--secondery-dark-text-color);
}

.lists h3 {
    color: var(--secondery-dark-text-color);
}
*/

.sections h2, h3 {
    color: var(--secondery-dark-text-color);
}


/* Portfolio page */

.portfolio-nav .portfolio-button {

 color: var(--secondery-dark-text-color);
 background-color: var(--button-background-color);
 border: none;
}


.portfolio-nav .portfolio-button:hover,
.portfolio-nav .portfolio-button:focus {

    color: var(--primary-white-color);
    background-color: var(--action-primary-colour);
}
 

/* footer */

.footer {
    background-color: var(--background-color);
}

.logo-style-secondary {
    color: var(--primary-white-color);
}

.address {
    color: var(--primary-white-color);
}

.get-in-touch {
    color: var(--secondery-color);
}

.get-in-touch:hover,
.get-in-touch:focus {
    color: var(--action-primary-colour);

}

ВО ВРЕМЯ ФОКУСА НЕ МЕНЯЕТСЯ ЛОГО ЦВЕТОМ НА АКЦЕНТ ЦВЕТ
.logo-style-secondary {
    color: var(--primary-white-color);
}

.logo .logo-style-secondary:hover,
.logo .logo-style-secondary:focus {
    color: var(--action-primary-colour);
}


